/*reset*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
}

h2 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: black;
    padding-top: 10px;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vw;
    flex-wrap: none;
}

/* THREE MAIN SECTIONS */
.highscore {
    width: 25%;
    height: auto;
    background-color: lightblue;
    text-align: center;
}

.central {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: auto;
    background-color: #ccff66;
    justify-content: center;
    align-items: start;

}

.timeSect {
    background-color: #cc99ff;
    width: 25%;
    height: auto;
    text-align: center;
}

/* INNER CONTAINER */
.centralContainer {
    display: block;
    background-color: white;
    width: 400px;
    height: auto;
    max-width: 80%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 75px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px 3px;
    color: darkgreen;
    text-align: center;
}


/* START AND NEXT BUTTONS */
.startBtn {
    border-radius: 7px;
    border-color: red;
    padding: 15px;
    background-image: linear-gradient(gold, red, red, gold);
    color: white;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}


/* HIDE and DISPLAY */
.hide {
    display: none;
}

.onBtn {
    display: flex;
}

/* QUESTIONS/GRADING/BUTTON */
#question {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: black;
    text-align: justify;
}

#heading {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: black;
    text-align: justify;
}

#grading {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 40px;
    font-style: italic;
    color: blue;
}

.btn {
    border-radius: 7px;
    border-color: black;
    padding: 3px;
    background-color: white;
    color: black;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 20px;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: black;
    color: white;
}

.btn-grid {
    display: grid;
    gap: 10px;
    margin: 20px;
}

/* TIMER */
.startTime {
    display: block;
    box-sizing: 20px, 5px;
}

.next {
    display: block;
    box-sizing: 8 20px, 5px;
}


/* WHITE BACKGROUND CARD FOR CENTER AREA */
.card-footer {
    text-align: center;
}

.card-footer::before {
    content: " ";
    width: 100%;
    background: #e7e9eb;
    height: 2px;
}

.card-footer::after {
    content: " ";
    clear: both;
}
.body2 {
    display: flex;
    flex-wrap: none;
    margin-top: 100px;
    display: flex;
    justify-content: center;

}
.heading2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 40vmax;
    font-weight: normal;
    color: black;
    text-align: justify;
   

}
#scoreBox {
    display: flex;
    flex-wrap: flex;
    justify-content: center;
    align-items: center;
}
.central2 {
    display: flex;
    flex-wrap: flex;
    width: 100%;
    height: auto;
    background-color: #ccff66;
    justify-content: center;
    align-items: start;
}
.score {
    font-size: 50px;
    font-weight: bold;
}
#submitBtn {
    border-radius: 7px;
    border-color: black;
    padding: 5px;
    background-color: rgb(243, 4, 4);
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 20px;
}
#yourScore {
    justify-content: center;
    align-items: center;
}
#goBack {
    border-radius: 7px;
    border-color: black;
    padding: 5px;
    background-color: rgb(16, 247, 124);
    color: black;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 20px;
}
#commitHiscore {
    border-radius: 7px;
    border-color: black;
    padding: 5px;
    background-color: rgb(243, 4, 239);
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 20px;
}
